
    body {
  background-color: #4A7324;
}

  .product-container {
    margin-top: 20px;
  }

  .category-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
  }

  .category-buttons button {
    padding: 8px 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f8f9fa;
    font-weight: bold;
    transition: all 0.3s ease;
  }

  .category-buttons button:hover {
    background-color: e0a800;
    color: black;
    border-color: #ddd;
  }

  .product-card {
    background-color: white;
    /* border: 2px solid #e0a800; */
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
    transition: transform 0.2s;
  }

  .product-card:hover {
    transform: scale(1.05);
  }

  .product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .product-card h5 {
    font-size: 1.2em;
    margin: 10px 0;
    color: #333;
  }

  .product-card .price {
    font-size: 1.1em;
    
    color: #555;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .product-card .quantity {
    font-size: 1.1em;
    
    color: #555;
    
    margin-bottom: 10px;
  }
  .product-card .product-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-card .btn {
    background-color: #f8f9fa;
    color: black;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid #ccc;
  }

  .product-card .btn:hover {
    background-color: #e0a800;
    color: black;
    border-color: #ddd;
  }
